/* Header */

#title {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 40px;
    padding: 30px 30px;
    background-color: rgb(201, 62, 120);
    color: #ffffff;
}

/* /Header */

/* Main */

#gameArea {
    margin-top: 30px;
}

/* /Main */

/* User input */

#winner {
    text-align: center;
    padding: 10px 40px;
    margin-top: 80px;
}

#userInput {
    text-align: center;
    padding: 10px 40px;
}

#submit button {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: rgb(201, 62, 120);
    border: none;
    color: #ffffff;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
    margin-left: 4px;
}

#winner, #winner2 {
    width: 380px;
    height:40px;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 20px;
    line-height: 1.25;
}


/* /User input */