/* Header */

#title {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 40px;
    padding: 30px 30px;
    background-color: rgb(201, 62, 120);
    color: #ffffff;
}

/* /Header */

/* Main */